.fuente{

    font-family: 'Architects Daughter', cursive;
}

.fondo{
    background-color: #07A1E1;
}
.zoom{
    transition: transform.2s;
}
.zoom.hover{
    transform: scale(1.3);
}
.fondoApp{
    background-image: url('../img/dogFondo.jpg');
    background-attachment: fixed;
    height: 400px;
}